@import 'layout';

body, #app-container {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

a {
	color: $primary;
}

.hide, .hide--desktop {
	display: none;
}

.is-selected {
}

.is-focused {
}

.is-dirty {
}

@media screen and (max-width: 900px) {
	.hide--desktop {
		display: initial;
	}

	.hide--tablet {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.hide--tablet {
		display: initial;
	}

	.hide--mobile {
		display: none;
	}
}


@import 'header';
