
$font:    Helvetica, sans-serif;

$primary: #046865;
$secondary: #21A0A0;

$action: #FFE900;
$cancel: #E53D00;

$background: #eee;
$frame: darken($background, 20%);
$borderColor: darken($background, 10%);

$border: 2px solid $borderColor;


