@import 'color';
body, html, #app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $frame;
}

.app-container {
  display: grid;
  grid-template-rows: 50px auto 30px;
  grid-template-columns: auto 250px minmax(400px, 800px) 250px auto;
  background: green;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background;
}

.app-container .header-area {
  grid-column: 1 / 6;
  grid-row: 1;
  border-bottom: $border;
}

.app-container .footer-area {
  grid-column: 1 / 6;
  grid-row: 3;
  border-top: $border;
}

.app-container .navigation-panel {
  grid-column: 2;
  grid-row: 2;
  border-right: $border;
  border-left: $border;
}

.app-container .activity-area {
  grid-column: 3;
  grid-row: 2;
}

.app-container .information-panel {
  grid-column: 4;
  grid-row: 2;
  border-right: $border;
  border-left: $border;
}

@media screen and (max-width: 900px) {
  .app-container {
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .app-container .navigation-panel {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background: $frame;
		z-index: 10;
  }
  .app-container .activity-area {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .app-container .information-panel {
    grid-column: 4 / 6;
    grid-row: 2;
  }
}

@media screen and (max-width: 600px) {
  .app-container {
    grid-template-rows: 50px auto auto auto auto auto 30px;
    grid-template-columns: repeat(2, 1fr)
  }

  .app-container .header-area {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .app-container .footer-area {
    grid-column: 1 / 4;
    grid-row: 7;
  }

  .app-container .navigation-panel {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }

  .app-container .activity-area {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .app-container .information-panel {
    grid-column: 1 / 4;
    grid-row: 2;
  }
}


